* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Muli', sans-serif;
}

main {
    width: 85%;
    margin: 3rem auto;
}

header {
    box-shadow: 0px 2px 2px #e0dede;
}

/* Navigation */

.navbar {
    width: 85%;
    margin: 0 auto;
    padding: 10px 0;
}

.navbar-toggle {
    position: absolute;
    right: 7.5%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    color: #000000;
    font-size: 1.5rem;
}

.name {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;
    color: #000000;
}

.main-nav {
    display: none;
}

.main-nav li {
    list-style: none;
    margin: 15px auto;
    text-align: center;
}

.nav-links {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
}

.name:hover, .right-nav a:hover {
    opacity: 0.5;
}

.current {
    padding-bottom: .2rem;
    border-bottom: 4px solid #ffd254;
}

.active {
    display: block;
}

span {
    color: #ffd254;
}

/* Welcome */

.greet h1 {
    padding: 1.5rem 0;
}

.greet p {
    line-height: 2;
}

.arrow {
    display: flex;
    justify-content: center;
    padding: 3rem 0 0;
    font-size: 2rem;
}

/* Work */

.verve, .quickteller, .caregivrs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0;
}

img {
    width: 100%;
}

#work h3 {
    padding-bottom: 1rem;
    font-weight: bolder;
}

#work p {
    line-height: 2;
}

.work-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.work-link a {
    display: inline-block;
    padding: 1rem 0 5px;
    border-bottom: 4px solid #000000;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.work-link:hover {
    opacity: 0.5;
}

.work-link i {
    display: inline;
    font-size: 1rem; 
    padding: 1rem 5px 0;
}

/* Footer */

footer {
    padding: 1rem 5%;
    background-color: #000000;
}

footer h1 {
    color: #ffffff;
    font-size: 1.5rem;
}

/* About Page */

.mine {
    line-height: 2;
}

.mine > p {
    padding: 1rem 0;
}

.contact, .contact-links {
    padding-top: 2rem;
}

.contact h3 {
    text-align: center;
}

.contact-links a {
    text-decoration: none;
    color: #eb7781;
}

.socials {
    text-align: center;
}

.socials a i {
    font-size: 1.5rem;
    padding: 1rem;
}

.contact-links a:hover, .socials a i:hover {
    color: #ffd254;
}

.contact-links p {
    padding: .5rem 0;
}

/* Media query */

@media screen and (min-width: 500px) {
    main, .navbar {
        width: 80%;
    }

    .navbar-toggle {
        right: 10%;
    }
}

@media screen and (min-width: 800px) {
    main {
        width: 75%;
    }

    .navbar {
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }

    .navbar-toggle {
        display: none;
    }

    .name {
        font-size: 2rem;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin: 0 10px;
    }

    .current {
        padding-bottom: .2rem;
    }

    /* Welcome */

    .greet h1 {
        padding: 2rem 0;
    }

    .greet p {
        font-size: 1.2rem;
    }

    .arrow {
        font-size: 3rem;
    }

    /* Work */

    .verve, .quickteller, .caregivrs {
        margin: 4rem 0;
    }

    #work h3 {
        padding-bottom: 1.5rem;
        font-size: 1.5rem;
    }

    #work p {
        font-size: 1.2rem;
    }

    .work-link a {
        padding: 1.5rem 0 10px;
        font-size: 1.2rem;
    }

    .work-link i {
        padding: 1.5rem 10px 0;
        font-size: 1.5rem;
    }

    /* Footer */

    footer {
        padding: 1.2rem 7.5%;
    }

    footer h1 {
        font-size: 2rem;
    }

    /* About Page */
    .me {
        font-size: 2rem;
        padding-bottom: 1rem;
    }

    .mine p {
        font-size: 1.2rem;
    }

    .contact h3 {
        font-size: 2rem;
    }

    .socials a i {
        font-size: 2rem;
        padding: 1.5rem;
    }

    .contact-links p {
        font-size: 1.2rem;
        line-height: 2;
    }
}

@media screen and (min-width: 1440px) {
    main, .navbar {
        width: 85%;
    }

    .name {
        font-size: 2.5rem;
    }

    .nav-links {
        font-size: 1.5rem;
    }

    /* Welcome */

    .greet h1 {
        font-size: 2rem;
    }

    .greet p {
        font-size: 1.5rem;
    }

    .arrow {
        font-size: 4rem;
    }

    /* Work */

    .verve, .quickteller, .caregivrs {
        margin: 10rem 0;
    }

    #phone {
        width: 70%;
        margin-left: 3rem;
    }

    #sign {
        margin-left: 3rem;
    }

    #work h3 {
        padding-bottom: 2rem;
        font-size: 2rem;
    }

    #work p {
        font-size: 1.5rem;
    }

    .work-link a {
        padding: 2rem 0 10px;
        font-size: 1.5rem;
    }

    .work-link i {
        padding: 2rem 10px 0;
        font-size: 2rem;
    }

    /* Footer */

    footer {
        padding: 1.5rem 10%;
    }

    footer h1 {
        font-size: 2.5rem;
    }

    /* About Page */
    .me {
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
    }

    .mine p {
        font-size: 1.5rem;
        padding: 1.5rem 0;
    }

    .contact h3 {
        font-size: 2.2rem;
    }

    .socials a i {
        font-size: 2.5rem;
    }

    .contact-links p {
        font-size: 1.5rem;
    }
}